.react-spinner-loader-svg-calLoader {
  transform-origin: 200px 100px;
  animation: 1.5s linear infinite loader-spin;
}

.react-spinner-loader-svg-cal-loader__path {
  animation: 1.5s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}
